<form class="" id="delete_book" method="post" action="{{ path('book_delete', {'id': book.id}) }}" onsubmit="return confirm('Êtes vous sure de supprimer ce livre?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ book.id) }}">
</form>
