{% extends 'base.html.twig' %}

{% block title %}New Book{% endblock %}

{% block body %}

<div class="container mt-3">

    <div class="breadcrumb">
        <a href="{{ path('book_index') }}">
            <span class="breadcrumb__inner">
                <span class="breadcrumb__title">Livres</span>
                <span class="breadcrumb__desc">Accueil</span>
            </span>
        </a>
        <a class="active" href="{{ path('book_new') }}">
            <span class="breadcrumb__inner">
                <span class="breadcrumb__title">Livres</span>
                <span class="breadcrumb__desc">Ajouter un livre</span>
            </span>
        </a>

    </div>

    {{ include('book/_form.html.twig', {'button_label': 'Créer un livre'}) }}

</div>
{% endblock %}
