<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    <ul>
        <li><a href="{{ path('book_index') }}">Livres</a></li>
        <li><a href="{{ path('client_index') }}">Clients</a></li>
        <li><a href="{{ path('logout') }}">Logout</a></li>
    </ul>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
